<!DOCTYPE html>
<html>
  <head>
    <title>produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      function deletarProduto(){
        var confirmed = confirm("Confirma exclusão do produto?");
        if (confirmed) {
          fetch('/produtos', { method: 'DELETE' }).then(window.location.href = "/produtos");
        }

      }
    </script>
  </head>
  <body>
    <nav><object width="100%" height="65px" data="../views/menu.ejs"></object></nav>  
    <form action="/estoques/deletar/<%=estoque.ID %>" method="post">
    <div class="todosprodutos">
    <h1 class="titulo">Estoque</h1>
    <p>
      <a href="/estoques">Voltar</a> |
      <a href="/estoques/editar/<%= estoque.ID %>">Editar</a>
    </p>
    <p>
      <strong>ID do Produto:</strong> <%=estoque.IDPRODUTO %>
    </p>
    <p>
      <strong>Quantidade em Estoque:</strong> <%=estoque.QUANTIDADE %>
    </p>
    <p>
        <input type="submit" value="Excluir" />
      </form>
    </p>
  </div>
  </body>
</html>
