<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><object width="100%" height="65px" data="../views/menu.ejs"></object></nav>
    <h1 class='titulo'>Contabilidade de Estoque</h1>
    <div class="pesquisa">
      <div class ='divNovo'>
        <p><a href="/estoques/novo">Novo</a></p>
        <p><a href="/">Voltar</a></p>
      </div>
      <div class= 'divPesquisa'>
      </div>
    </div>
    <div class="todosprodutos">
      <h1>Estoques Cadastrados</h1>
      <ul>
        <% for(var i = 0; i < estoque.length; i++) { %>
          <li>
            <p>
            <a href="/estoques/<%= estoque[i].ID %>">Detalhes do Estoque: <b><%= estoque[i].DESCRICAO %></b> com <b><%= estoque[i].QUANTIDADE %></b> unidades em estoque</a>
            </p>
          </li>
        <% } %>
      </ul>
  </div>
  </body>
</html>

