<!DOCTYPE html>
<html>

<head>
  <title>Eventos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="todosprodutos">
  <h1>Movimentação de estoque</h1>
  <p>
    <a href="/estoques">Voltar</a>
  </p>
  <% if (typeof(errors) !="undefined" ) { %>
    <div style="color: red; border: 1px solid red;">
      <ul>
        <% for(var i=0; i < errors.length; i++) { %>
          <li>
            <%= errors[i] %>
          </li>
          <% } %>
      </ul>
    </div>
    <% } %>

  <form action="/estoques" method="post">
    <p>
      <label for="id">ID do Produto:</label><br>
      <input type="text" id="id" name="id"><br>
    </p>
    <p>
      <label for="quantidade">Quantidade:</label><br>
      <input type="number" id="quantidade" name="quantidade"><br>
    </p>
    <p>
      <label for="tipo">Tipo de Movimentação:</label><br>
      <input type="string" id="tipo" name="tipo"><br>
    </p>
    <input type="submit" value="Submeter">
  </form>
</div>
</body>

</html>