<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <object width="100%" height="65px" data="../views/menu.ejs"></object>
    <div class="todosprodutos">

      <h1><%= title %></h1>
      <p>Sistema de <%= title %></p>
      <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/estoques">Estoque Itens</a></li>
        <!-- <li><a href="/participantes">Participantes</a></li>
        <li><a href="/assistente">Assistente</a></li> -->
      </ul>
  </div>

  </body>
</html>
