<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="menu">
    <a href="/produtos/">Produto</a>    <a href="/estoques/">Estoque</a>    <a href="/movimentacoes/">Movimentação</a>
    </div> 
</body>
</html>
