<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><object width="100%" height="65px" data="../views/menu.ejs"></object></nav>  
    <h1 class='titulo'>Cadastro de Produtos</h1>
    <div class="pesquisa">
      <div class ='divNovo'>
        <p><a href="/produtos/novo">Novo</a></p>
        <p><a href="/">Voltar</a></p>
      </div>
      <div class= 'divPesquisa'>
        <form action="/produtos/" method="GET">
          <label for="id" class="pesquisaP">Pesquisa de produto:</label><br>
          <input type="text" id="id" name="id" value="<%= produto.ID %>" /><br>
          <input type="submit" value="pesquisar" />
        </form>
      </div>
    </div>
    <div class="todosprodutos">
      <h1>Produtos Cadastrados</h1>
      <ul>
        <% for(var i = 0; i < produto.length; i++) { %>
          <li>
            <p>
            <a href="/produtos/<%= produto[i].ID %>">Detalhes do Produto: <%= produto[i].DESCRICAO %></a>
            </p>
          </li>
        <% } %>
      </ul>
  </div>
  </body>
</html>

